.pagination {
    text-align: center;;
}
.pagination a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active {
    background-color: hsl(120, 81%, 60%);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: hsl(0, 0%, 54%);
    border-radius: 5px;

}