@font-face {
    src: url("Fonts/Kanit-Regular.ttf");
    font-family: kanit;
}
@font-face {
    src: url("Fonts/WorkSans-VariableFont_wght.ttf");
    font-family: workSans;
}
body {
    background-color: #282727;
}
.ch1 {
    color: white;
}
#a1 {
    color: rgb(19, 19, 187);
}
#p1 { 
    color: tomato; 
}
#p2 {
    color: rgb(102, 222, 255);
}
#p3 {
    color: #59ff5f;
}
#p4 {
    color: hsl(299, 60%, 49%)
}
#fh1 {
    color: white;
    font-family: kanit, workSans, verdana, arial;
}
#fp1 {
    color:rgb(168, 156, 40);
    font-family: workSans, kanit, "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
#bh1 {
    color: white;

    border-style: solid;
    border-width: 3px;
    border-color: hsl(281, 61%, 41%);
    border-radius: 7px;
}
#bh2 {
    color: white;

    border: 3px solid hsl(191, 59%, 54%);
    border-radius: 1px;
}
#bp1 {
    color: white;

    border-bottom: 3px solid rgb(222, 52, 52);
    border-top: 3px solid rgb(249, 246, 70);
    border-left: 3px dotted rgb(70, 156, 249);
    border-right: 3px dashed rgb(70, 249, 70);

    border-radius: 10px;
}
.sh1 {
    text-shadow: 3px 3px 5px rgb(246, 38, 38), -3px -3px 5px rgb(42, 195, 209);
}
.sbox1 {
    width: 100px;
    height: 100px;
    background-color: rgb(96, 96, 96);
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
}
.mbox {
    border: 5px solid;
    font-size: 2em;
    width: 100px;
    height: 100px;

}
#mbox1 {
    background-color: hsl(0, 88%, 52%);
    margin: 50px;
}
#mbox2 {
    background-color: hsl(196, 81%, 60%);
    margin-left: auto;
}
#mbox3 {
    background-color: hsl(135, 73%, 49%);
    margin: auto;
}
#mbox4 {
    background-color: hsl(54, 93%, 60%);
    margin-left: 100px;
}

