@font-face {
    src: url("Fonts/Kanit-Regular.ttf");
    font-family: kanit;
}
@font-face {
    src: url("Fonts/WorkSans-VariableFont_wght.ttf");
    font-family: workSans;
}
body {
    background-color: #282727;
}
.ch1 {
    color: white;
}
#a1 {
    color: rgb(19, 19, 187);
}
#p1 { 
    color: tomato; 
}
#p2 {
    color: rgb(102, 222, 255);
}
#p3 {
    color: #59ff5f;
}
#p4 {
    color: hsl(299, 60%, 49%)
}
#fh1 {
    color: white;
    font-family: kanit, workSans, verdana, arial;
}
#fp1 {
    color:rgb(168, 156, 40);
    font-family: workSans, kanit, "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

